<h1>About Donald Trump</h1>

<div class="container description">
<p><strong>Birth date:</strong> June 14, 1946</p>
<p><strong>Birth place:</strong> New York, New York</p>
<p><strong>Birth name:</strong> Donald John Trump</p>
<p><strong>Father:</strong> Fred Trump, real estate developer</p>
<p><strong>Mother: </strong>Mary (Macleod) Trump</p>
<p><strong>Marriages: </strong>Melania (Knauss) Trump (January 22, 2005-present); Marla (Maples) Trump (December 1993-June 1999, divorced); Ivana (Zelnicek) Trump (1977-1990, divorced)</p>
<p><strong>Children: </strong>with Melania (Knauss) Trump: Barron, March 20, 2006; with Marla Maples: Tiffany, October 13, 1993; with Ivana (Zelnicek) Trump: Eric, 1984; Ivanka, October 30, 1981; Donald Jr., December 31, 1977</p>
<p><strong>Education: </strong> Attended Fordham University; University of Pennsylvania, Wharton School of Finance, 1968</p>
</div>
